body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#gameCanvas {
    border: 1px solid black;
    background-color: #fff;
}

/* Estilo para los botones de movimiento */
#buttons {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 20px 30px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    width: 70px;
    height: 70px;
}

.btn:hover {
    background-color: #0056b3;
}

.btn:active {
    background-color: #003f7f;
}

#leftBtn, #rightBtn {
    width: 70px;
}
